<p>
    <button id="register-service-worker">ServiceWorkerの登録</button>
</p>

@section Scripts {
<script>
  windows.onload = () => {
    var btnRegister = document.querySelector("button#register-service-worker");
    btnRegister.addEventListener("click", ev => {
      ev.preventDefault();
      window.navigator.serviceWorker.register("service-worker.js").then(registration => {
        logger.line("Register OK:", registration);
        _registration = registration;
      }).catch(err => {
        logger.line("Register Error:", err);
      });
    });
  }
</script>
}
